<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="mydbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=champlainmysql.cabect4hsdzs.us-east-1.rds.amazonaws.com;user id=BackLeft;password=Champlain123;persistsecurityinfo=True;database=mydb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>